
@import "./variables";

.header {
    height: calc(100vh - 70px);
}

.scrollDown {
    text-align: center;
    margin-top: 200px;
    font-size: 1.4em;
}

.textblockContainer {
    width: 100%;
    display: flex;
}

.textblockRight {
    flex-direction: row-reverse;
}

.textblock {
    border: 1px solid $primary;
    background: $white;
    border-radius: 5px;
    padding: 20px;
    margin: 0;
    margin-bottom: 100px;
    max-width: 500px;
	@media (min-width: 768px) {
		margin-left: 50px;
		margin-right: 50px;
	}
}

.scrollableTo:before {
	content: '';
	display: block;
	height:      80px;
	margin-top: -80px;
	visibility: hidden;
}